<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogvoteServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.LogvoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CardServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.CardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.CandidatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotantServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.VotantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoteServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.VoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.sysvote.controlleur.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckNifServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.CheckNifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountDownServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.CountDownServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserNifServlet</servlet-name>
        <servlet-class>com.sysvote.controlleur.checkUserNifServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogvoteServlet</servlet-name>
        <url-pattern>/LogvoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatServlet</servlet-name>
        <url-pattern>/CandidatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CardServlet</servlet-name>
        <url-pattern>/CardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotantServlet</servlet-name>
        <url-pattern>/VotantServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoteServlet</servlet-name>
        <url-pattern>/VoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckNifServlet</servlet-name>
        <url-pattern>/CheckNifServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountDownServlet</servlet-name>
        <url-pattern>/CountDownServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserNifServlet</servlet-name>
        <url-pattern>/checkUserNifServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
